# An async PostgreSQL driver to interact with a database.
asyncpg

# For creating a CLI based on commands and flags to control the bot's behaviour.
click

# The Discord API Wrapper this bot uses.
git+https://github.com/Rapptz/discord.py@rewrite#egg=discord.py[voice]

# youtube-dl for extended voice functionality.
youtube-dl

# For monitoring processes of the bot.
psutil

# For parsing the config file.
PyYAML

# Some utilities for processing date and time.
parsedatetime
python-dateutil

# To speed up the asyncio event loop.
uvloop

# Some useful general utilities a few commands require.
import_expression<1.0.0,>=0.3.7
more-itertools
lxml
pillow